<!DOCTYPE html>
<html>
  <head>
    <title>ProjectAssign</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
     <nav>
      <h1>Projects Go!</h1>
      <div class="nav-links">
        <%= link_to("Main", users_path) %>
        <%= link_to("All Projects", projects_path) %>
        <%= link_to("Add User", new_user_path) %>
        <%= link_to("Add Project", new_project_path) %>
      </div>
      </nav>
    <%= yield %>
    <footer>
       <div class="nav-links">
        <%= link_to("Main", users_path) %>
        <%= link_to("All Projects", projects_path) %>
        <%= link_to("Add User", new_user_path) %>
        <%= link_to("Add Project", new_project_path) %>
      </div>
    </footer>
  </body>
</html>
